@tailwind base;
@tailwind components;
@tailwind utilities;
@import "colors.css";

body {
  color: rgb(var(--color-foreground));
  background: rgb(var(--color-background));
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .ltr {
    direction: ltr;
  }
  .rtl {
    direction: rtl;
  }
  .dir-auto {
    direction: auto;
  }
  .dir-inherit {
    direction: inherit;
  }
  /* This adds extra bottom padding on ios mobile browsers */
  .ios-safe-bottom {
    padding-bottom: env(safe-area-inset-bottom);
  }
}
